.place-circle {
  height: 20vh;
  width: 20vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  pointer: cursor;
  &.unlocked p {
    background-color: #f69a5d;
    border-radius: 10px;
  }

  &.locked {
    pointer-events: none;
    touch-action: none;
    p {
      background-color: #8f8aef;
      border-radius: 10px;
    }
  }
}

.place-circle p {
  font-family: "Fredoka One", cursive;
  text-align: center;
  font-size: 1.2rem;
  margin: 2%;
  color: #04121f;
  background-color: #f69a5d;
  border-radius: 10px;
  padding: 2%;
}
