.helper-avatar-container {
  position: relative;
  .helper-avatar {
    position: absolute;
    right: 14px;
    top: 40px;
    height: 320px;
    width: auto;
  }

  .speech-box {
    position: absolute;
    right: 200px;
    height: 100px;
    width: auto;
    border: 2px solid black;
    display: flex;
    align-items: center;
  }
}
