.fourofour {
  margin: none;
  min-height: 100vh;
  min-width: 100vw;
  background-color: #80ef99;
  display: flex;
  align-items: center;
  justify-content: center;

  h1 {
    font-size: 3em;
    color: #8f8aef;
    font-family: "Fredoka One";
    margin-top: -1em;
  }
}
