// ____________________________COLORS____________________________

$turqouise: #69dfc7;
$blue: #3c91e6;
$yellow: #fde74c;
$orange: #f69a5d;
$purple: #8f8aef;
$green: #7dd764;

// ____________________________FONTS____________________________

$speeches: "Coming Soon", cursive;
$boldText: "Fredoka One", cursive;
$titles: "Amatic SC", cursive;
$answers: "Montserrat", sans-serif;

// ____________________________Basics____________________________
