ul {
  margin: 2% auto;
  padding: 0 !important;
  height: 40vh;
  width: 90vw;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

li {
  list-style-type: none;
  justify-self: center;
}

.interaction-question {
  text-align: center;
  font-family: "Amatic SC", cursive;
  font-weight: 600;
  font-size: 2.2rem;
  margin: 2% 0 0 0;
}

.interaction-instruction {
  text-align: center;
  font-family: "Amatic SC", cursive;
  font-weight: 500;
  font-size: 1.8rem;
  margin: 0;
}

.btn-answer {
  border: 3px solid #f69a5d;
  background: #feee7e;
  box-shadow: 0 5px 5px rgba(65, 8, 8, 0.17),
    0 15px rgba(255, 255, 255, 0.25) inset;
  display: inline-block;
  color: #0a2e27;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  cursor: pointer;
  border-radius: 20px;
  width: 14rem;
  margin: 1.5vh 0;
  line-height: 1.5rem;
  font-size: 1.2rem;
  padding: 0.8rem 0;
}

.selected {
  border: 3px solid #30731e;
  background: #7dd764;
}

.grid-center {
  grid-column-start: 2;
  grid-row-start: 1;
  grid-row-end: 5;
}

.interaction-image {
  border-radius: 20px;
  border: 5px solid #f69a5d;
  height: 40vh;
}

.star-popup {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 37%;
  margin: auto;
  margin-top: -5px;
  font-family: "Amatic SC", cursive;
  font-size: 2rem;
  text-align: center;
  font-weight: 700;
}
