.background-help {
  background-image: url(/img/interactions_backgrounds/Town.svg);
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.video-container {
  border: white 8px solid;
  background: white;
  margin: 0px auto;
  width: 60vw;
  box-sizing: border-box;
}

.video-player {
  width: 100%;
  height: auto;
}
