.background-help {
  background-image: url(/img/interactions_backgrounds/Town.svg);
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.help-video {
  border: white 8px solid;
  margin: auto;
  width: 60vw;
  box-sizing: content-box;
}
